In [1]:
import pandas as pd
import re
from fuzzywuzzy import fuzz

Cargamos los archivos

In [10]:
clientes_agenda = pd.read_excel("clientes_agenda.xlsx")
clientes_netsuite = pd.read_csv("clientes_netsuite.csv")

Vamos a revisar la estructura de datos

In [11]:
display(clientes_agenda.head())
display(clientes_netsuite.head())

  Email        Nombres           Apellidos Número de cliente
0   NaN  Paula Ximena                    .            196914
1   NaN    CRISTOPHER                    .            201055
2   NaN         ULISES                  .             208218
3   NaN    𝐑𝐨𝐬𝐚 𝐢𝐬𝐞𝐥𝐚   𝐡𝐞𝐫𝐧𝐚𝐧𝐝𝐞𝐳 𝐜𝐚𝐥𝐝𝐞𝐫𝐨𝐧            218218
4   NaN    Rosa Maríaz     2 López Martíne            228363

,Internal ID,Expediente,Nombre,Fecha de Nacimiento,E-Mail,Teléfono
0,435106,1.0,MATTEO MAYO DE JESUS,01/01/1997,NaN,4422290976
1,601201,2.0,refractivaa refractiva refractiva,02/03/1983,NaN,0
2,86735,8.0,JAVIER CRUZ RAMIREZ,12/11/1965,juan.nogmar@gmail.com,NaN
3,51460,9.0,GABINO MORENO LOPEZ,02/07/1956,NaN,NaN
4,7579,10.0,J. CARMEN MENDOZA MORENO,12/19/1945,NaN,NaN